@import "base/normalize";
@import "base/reset";
@import "base/variables";
@import "base/fonts";

@import "components/mainPage/_mainPage";
@import "components/_profile";
@import "components/stepsCreateQuest/_mainFile";
@import "components/_completionQuest";

body {
  font: {
    size: $text;
    family: "Inter";
    weight: 500;
  }
  color: $white;
  background: url("../resources/mainBG.png") $black;
}

.container {
  width: 100%;
  max-width: 1404px;
  margin: 0 auto;
  padding: 0 20px;
}